<mat-card>
    <mat-card-header>
        <mat-card-title i18n="404 card title@@404Title">
            Error 404 :(
        </mat-card-title>
        <mat-card-subtitle i18n="404 card subtitle@@404Subtitle">
            This is not the page you're looking for.
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content i18n="404 card content@@404Content">
        We're really sorry, but we couldn't find the page you requested. Are you sure you didn't follow the wrong link?
    </mat-card-content>
    <mat-card-actions>
        <button mat-button routerLink="/" i18n="Home Link@@404HomeLink">
            Return to homepage
        </button>
    </mat-card-actions>
</mat-card>