<mat-card>
    <mat-card-header>
        <mat-card-title i18n="Home page welcome card title@@HomePageWelcomeCardTitle">
            Welcome to
            {{ informations.Name }}!
        </mat-card-title>
        <mat-card-subtitle i18n="Home page welcome card subtitle@@HomePageWelcomeCardSubtitle">
            First time here? Unfortunately the site is new and not finished (yet).
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content i18n="Home page welcome card content@@HomePageWelcomeCardContent">
        <p>
            As more features will be added, new things will appear in the home page!
        </p>
    </mat-card-content>
</mat-card>